name: Build documentation
on:
  push:
    branches:
      - 2.x
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          ref: ${{ github.head_ref }}

      - name: Install and built documentation
        run: |
          npm install
          npm run docs:build

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: docs/.vitepress/dist

      - name: Push changes back
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Build documentation